<!DOCTYPE html>
<html data-wf-domain="#" data-wf-page="659ea49a1f2eedca565f8d9d" data-wf-site="659662e6ea1f446bb2be088b" lang="en">

<body>
    <section id="hero" class="banner">
        <div class="middle-allign-wrapper">
            <div class="mask">
                <h1 class="page-title">About us</h1>
            </div>
        </div>
    </section>
    <div class="page-wrapper">
        <section class="section">
            <div class="container">
                <div class="_2-column-block">
                    <div class="image-wrapper-2-column">
                        <div class="vertical-wrapper _40px-gap">
                            <div class="vertical-wrapper margin-left-50px">
                                <div class="number">20+</div>
                                <div class="sub-title">Years of Experience</div>
                            </div><img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f70ef264867adbc5b54e8_image%201.webp" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 46vw, (max-width: 991px) 47vw, 28vw" srcset="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f70ef264867adbc5b54e8_image%201-p-500.webp 500w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f70ef264867adbc5b54e8_image%201.webp 816w"
                                       alt="" class="top-right-radius" />
                        </div>
                        <div class="vertical-wrapper _40px-gap">
                            <img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f70ef89da571efbd73bb1_image%203.webp" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 43vw, 26vw" srcset="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f70ef89da571efbd73bb1_image%203-p-500.webp 500w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f70ef89da571efbd73bb1_image%203.webp 756w"
                                 alt="" class="top-left-radius" /><img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f70ef6b79b2113c709e24_image%202.webp" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 43vw, 26vw"
                                                                       srcset="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f70ef6b79b2113c709e24_image%202-p-500.webp 500w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f70ef6b79b2113c709e24_image%202.webp 756w"
                                                                       alt="" class="bottom-right-radius" />
                        </div>
                    </div>
                    <div class="contents-wrapper about-wrapper">
                        <div class="vertical-wrapper _10px-gap">
                            <div class="mask">
                                <h2 class="heading">Our Story</h2>
                            </div>
                        </div>
                        <p>
                            Pizza ipsum dolor meat lovers buffalo. Tomato mayo red black pork meatball lasagna lot. Buffalo peppers bell buffalo Philly pesto party black thin. String cheese hand marinara stuffed meatball garlic stuffed. NY lot Philly bacon
                            bell red peppers. Garlic extra fresh and pork. Burnt onions steak green pizza pan Chicago lot NY. Tomato chicken Chicago beef bbq ricotta platter broccoli. Meatball sautéed ricotta bbq.
                        </p>
                        <div class="margin-top-20px">
                            <a data-w-id="8ce59a4b-13d7-fe65-24df-11ddac935e83" href="/contact" class="primary-radius-button w-inline-block">
                                <div>Contact us</div>
                                <div class="icon _18px-width"></div>
                                <div class="button-color"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="_2-column-block">
                    <div class="contents-wrapper about-wrapper">
                        <div class="vertical-wrapper _10px-gap">
                            <div class="mask">
                                <h2 class="heading">Culinary Excellence</h2>
                            </div>
                        </div>
                        <div class="mask">
                            <p data-w-id="95beb36d-1c54-6af0-2b35-b490086b3c95" style="opacity:0;-webkit-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
                                Led by our talented and dedicated chefs, the heart of Bâu's&#x27;s success lies in the kitchen. Every dish is a masterpiece, crafted with precision and passion. We take pride in sourcing the finest ingredients, ensuring that
                                each bite is a harmonious blend of freshness and flavor.
                            </p>
                        </div>
                        <div class="margin-top-20px">
                            <a data-w-id="41ae40a8-d513-8680-2303-ff4bd7738461" href="/reservation" class="primary-radius-button w-inline-block">
                                <div>Reserve your table</div>
                                <div class="icon _18px-width"></div>
                                <div class="button-color"></div>
                            </a>
                        </div>
                    </div>
                    <div class="image-wrapper max-width-650px">
                        <img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f8be78c491caeb4d237e7_Rectangle%2073.webp" width="70" alt="" style="opacity:0;-webkit-transform:translate3d(50%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                             sizes="(max-width: 479px) 94vw, (max-width: 767px) 93vw, (max-width: 991px) 650px, 47vw" data-w-id="53612c6f-9489-1e13-5cfd-521793872769" loading="lazy" srcset="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f8be78c491caeb4d237e7_Rectangle%2073-p-500.webp 500w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f8be78c491caeb4d237e7_Rectangle%2073-p-800.webp 800w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f8be78c491caeb4d237e7_Rectangle%2073-p-1080.webp 1080w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f8be78c491caeb4d237e7_Rectangle%2073.webp 1298w" />
                        <div class="absolute-image">
                            <img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f8be79735ebd0498216a6_wepik-export-20240102081750VybG%201.webp" loading="lazy" width="70" sizes="(max-width: 479px) 39vw, (max-width: 767px) 33vw, (max-width: 991px) 350px, 400px"
                                 alt="" srcset="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f8be79735ebd0498216a6_wepik-export-20240102081750VybG%201-p-500.webp 500w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f8be79735ebd0498216a6_wepik-export-20240102081750VybG%201-p-800.webp 800w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f8be79735ebd0498216a6_wepik-export-20240102081750VybG%201.webp 888w" />
                            <div class="absolute-image-background"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section extra-margin">
            <div class="container">
                <div class="_2-column-block gap-120px">
                    <div class="image-wrapper max-width-650px">
                        <img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f96314d1d61827b73fb91_Rectangle%2073.webp" width="70" alt="" style="opacity:0;-webkit-transform:translate3d(-50%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                             sizes="(max-width: 479px) 94vw, (max-width: 767px) 93vw, (max-width: 991px) 650px, 44vw" data-w-id="2654e4ba-39f6-7e39-8799-b24955e1cc53" loading="lazy" srcset="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f96314d1d61827b73fb91_Rectangle%2073-p-500.webp 500w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f96314d1d61827b73fb91_Rectangle%2073-p-800.webp 800w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f96314d1d61827b73fb91_Rectangle%2073-p-1080.webp 1080w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f96314d1d61827b73fb91_Rectangle%2073.webp 1298w" />
                        <div class="absolute-image no-padding">
                            <img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f963158a1e530460eceb3_wepik-export-20240102082545TwEw%201.webp" loading="lazy" width="70" sizes="(max-width: 479px) 39vw, (max-width: 767px) 33vw, (max-width: 991px) 350px, 400px"
                                 alt="" srcset="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f963158a1e530460eceb3_wepik-export-20240102082545TwEw%201-p-500.webp 500w, https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659f963158a1e530460eceb3_wepik-export-20240102082545TwEw%201.webp 736w" />
                            <div class="absolute-image-background"></div>
                        </div>
                    </div>
                    <div class="contents-wrapper about-wrapper">
                        <div class="vertical-wrapper _10px-gap">
                            <h2 class="heading">Sustainability</h2>
                        </div>
                        <p>
                            As stewards of the environment, we are committed to sustainability. From supporting local farmers to minimizing waste, Bâu's Restaurant seeks to make a positive impact on both the community and the planet. We believe that a commitment
                            to quality can coexist with a commitment to our world.
                        </p>
                        <div class="margin-top-20px">
                            <a data-w-id="b7455f1f-1095-2c89-0e42-5d77a7b1e66d" href="/reservation" class="primary-radius-button w-inline-block">
                                <div>Reserve your table</div>
                                <div class="icon _18px-width"></div>
                                <div class="button-color"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div data-delay="4000" data-animation="slide" class="testimonials-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
                <div class="testimonial-mask w-slider-mask">
                    <div class="w-slide">
                        <div class="testimonial">
                            <div class="testimonial-block max-width-750">
                                <div class="justify-center-horizontal _2px-gap">
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                </div>
                                <p class="testimonial-text">Restaurant transformed our recruitment process entirely. The Figma flows and boolean search options provided us with unprecedented flexibility, allowing us to streamline our talent acquisition efforts.</p>
                                <div class="w-layout-vflex _6px-gap margin-top-20px">
                                    <div class="sub-heading">Andrew Roy</div>
                                    <div class="_14px-text">Chef</div>
                                </div>
                            </div><img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659d0b97cb2fc8c5170e1ff8_left-quote%201.svg" loading="lazy" width="70" alt="" class="quote-svg" />
                        </div>
                    </div>
                    <div class="w-slide">
                        <div class="testimonial">
                            <div class="testimonial-block max-width-750">
                                <div class="justify-center-horizontal _2px-gap">
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                </div>
                                <p class="testimonial-text">Restaurant transformed our recruitment process entirely. The Figma flows and boolean search options provided us with unprecedented flexibility, allowing us to streamline our talent acquisition efforts.</p>
                                <div class="w-layout-vflex _6px-gap margin-top-20px">
                                    <div class="sub-heading">Austin Mark</div>
                                    <div class="_14px-text">UX Designer</div>
                                </div>
                            </div><img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659d0b97cb2fc8c5170e1ff8_left-quote%201.svg" loading="lazy" width="70" alt="" class="quote-svg" />
                        </div>
                    </div>
                    <div class="w-slide">
                        <div class="testimonial">
                            <div class="testimonial-block max-width-750">
                                <div class="justify-center-horizontal _2px-gap">
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                </div>
                                <p class="testimonial-text">Restaurant transformed our recruitment process entirely. The Figma flows and boolean search options provided us with unprecedented flexibility, allowing us to streamline our talent acquisition efforts.</p>
                                <div class="w-layout-vflex _6px-gap margin-top-20px">
                                    <div class="sub-heading">Tina Mcmillan</div>
                                    <div class="_14px-text">UX Designer</div>
                                </div>
                            </div><img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659d0b97cb2fc8c5170e1ff8_left-quote%201.svg" loading="lazy" width="70" alt="" class="quote-svg" />
                        </div>
                    </div>
                    <div class="w-slide">
                        <div class="testimonial">
                            <div class="testimonial-block max-width-750">
                                <div class="justify-center-horizontal _2px-gap">
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                </div>
                                <p class="testimonial-text">Restaurant transformed our recruitment process entirely. The Figma flows and boolean search options provided us with unprecedented flexibility, allowing us to streamline our talent acquisition efforts.</p>
                                <div class="w-layout-vflex _6px-gap margin-top-20px">
                                    <div class="sub-heading">Cameron Williamson</div>
                                    <div class="_14px-text">UX Designer</div>
                                </div>
                            </div><img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659d0b97cb2fc8c5170e1ff8_left-quote%201.svg" loading="lazy" width="70" alt="" class="quote-svg" />
                        </div>
                    </div>
                    <div class="w-slide">
                        <div class="testimonial">
                            <div class="testimonial-block max-width-750">
                                <div class="justify-center-horizontal _2px-gap">
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                    <div class="icon star-rating"></div>
                                </div>
                                <p class="testimonial-text">Restaurant transformed our recruitment process entirely. The Figma flows and boolean search options provided us with unprecedented flexibility, allowing us to streamline our talent acquisition efforts.</p>
                                <div class="w-layout-vflex _6px-gap margin-top-20px">
                                    <div class="sub-heading">Cameron Williamson</div>
                                    <div class="_14px-text">UX Designer</div>
                                </div>
                            </div><img src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/659d0b97cb2fc8c5170e1ff8_left-quote%201.svg" loading="lazy" width="70" alt="" class="quote-svg" />
                        </div>
                    </div>
                </div>
                <div class="slider-nav w-slider-arrow-left"></div>
                <div class="slider-nav w-slider-arrow-right"></div>
                <div class="hidden w-slider-nav"></div>
            </div>
        </section>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=659662e6ea1f446bb2be088b" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://assets-global.website-files.com/659662e6ea1f446bb2be088b/js/webflow.214b53277.js" type="text/javascript"></script>
</body>

</html>