@model WebEmThuong.Models.Reservation

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        h1, h4 {
            text-align: center;
            margin-top: 20px;
        }

        .create-container {
            margin-top: 20px;
        }

        .form-group label {
            font-weight: bold;
        }

        .btn-back, .btn-create {
            margin-top: 20px;
        }

        .waiting {
            background-color: red;
            color: white;
        }

        .confirmed {
            background-color: yellow;
            color: black;
        }

        .done {
            background-color: green;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container create-container">
        <h1>Create Reservation</h1>
        <h4>Reservation</h4>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" type="date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Time" class="control-label"></label>
                        <input asp-for="Time" type="time" class="form-control" />
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumberPeople" class="control-label"></label>
                        <input asp-for="NumberPeople" class="form-control" />
                        <span asp-validation-for="NumberPeople" class="text-danger"></span>
                    </div>
                    <select asp-for="Status" class="form-control">
                        <option value="waiting" class="waiting">Waiting</option>
                        <option value="confirmed" class="confirmed">Confirmed</option>
                        <option value="done" class="done">Done</option>
                    </select>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-create" />
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-secondary btn-back" asp-action="Index">Back to List</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
