@model WebEmThuong.Models.Production

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Create</h1>

        <h4>Production</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Price</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Description</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sort" class="control-label">Display order</label>
                        <input asp-for="Sort" class="form-control" />
                        <span asp-validation-for="Sort" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rating" class="control-label">Rating</label>
                        <input asp-for="Rating" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>                    
                        <div class="form-group">
                            <label asp-for="ImgUrl" class="control-label">Image URL</label>
                            <input asp-for="ImgUrl" type="file" name="file" class="form-control" />
                            <span asp-validation-for="ImgUrl" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="CatagoryId" class="control-label">Category</label>
                        <select asp-for="CatagoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                        <span asp-validation-for="CatagoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
